@media (min-width: 1000px) {
  .homepage-wrapper {
    position: relative;
  }

  .vision-mission-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100vh;
  }

  .vision-mission {
    width: 90%;
    z-index: 2;
    background-color: white;
    box-shadow: -5px 0 10px -5px rgba(0, 0, 0, 0.2), 5px 0 10px -5px rgba(0, 0, 0, 0.2), 0 5px 20px 5px rgba(0, 0, 0, 0.2);
  }

  .about-container {
    margin-top: 90vh;
  }
}