:root {
  --apple-green: greenyellow;
  --lavendar-light: rgba(255, 240, 245, 0.8);
  --forestgreen: rgb(76, 127, 1);
}

* {
  font-family: lato, sans-serif;
}

.menu-btn {
  font-size: 25px;
}

#header {
  position: absolute;
  width: 90vw;
  height: 100vh;
  transition: 0.5s;
  top: 0;
  backdrop-filter: blur(50px);
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
}

.root-contact-form {
  position: fixed;
  top: 0;
}

.chat-btn-container {
  position: fixed;
  top: 85vh;
  left: 2rem;
  z-index: 100;
}

.chat-btn {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--forestgreen);
  border: none;
}

.chat-icon {
  color: white;
  font-size: 24px;
}

.mobile-nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  z-index: 1000;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.nav-panel h2 {
  margin-bottom: 2rem;
  text-align: left;
  font-size: 15px;
}

.nav-panel li {
  list-style-type: none;
  width: auto;
  margin: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: 0.3s linear;
  margin-right: 2rem;
}

.nav-panel li:active {
  color: white;
}

.nav-panel a {
  text-align: left;
  font-size: 0.7rem;
  padding-bottom: 3px;
  color: var(--applegreen);
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

.nav-panel li:active a {
  color: white;
}

.mobile-close {
  position: absolute;
  z-index: 100;
  height: 2rem;
  width: 2rem;
  top: 0.5rem;
  left: 0.5rem;
}

.logo {
  margin: 3rem 2rem 0 2rem;
  width: 80px;
  height: 80px;
}

@media (min-width: 1000px) {
  #header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 15vh;
    padding: 1rem 2rem;
    /* box-shadow: 0 0 10px 0 rgb(200, 200, 200); */
    background-color: transparent;
    z-index: 1001;
  }

  .root-contact-form {
    /* top: 1rem; */
    left: 1rem;
    width: 25rem;
  }

  .mobile-nav {
    display: none;
  }

  .nav-panel ul {
    width: auto;
    display: flex;
    justify-content: space-between;
  }

  .nav-panel a {
    font-size: 0.8rem;
    color: greenyellow;
  }

  .nav-panel a:hover {
    color: green;
  }

  .logo-container {
    width: 20%;
  }

  .logo {
    color: white;
    width: 120px;
    height: 120px;
  }

  .mobile-close,
  .mobile-nav {
    display: none;
  }
}
