.news-section {

}

.faint-bg {
  font-size: 35vw;
  color: rgb(228, 252, 213);
  font-family: montserrat, sans-serif;
  font-weight: 900;
  animation: news-bg 2s ease-in-out;
  animation-timing-function: linear;
}

@keyframes news-bg {
  0% {
    transform: translateX(30%)
  }
  100% {
    transform: translateX(0%)
  }
}

@media (min-width: 1000px) {
  /* .news-section {
    z-index: 2000;
  } */
}